<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<section class="top" id="top">
  <h2 class="heading">Escolaとは</h2>
  <div class="abouts-wrapper">
    <div class="about-box">
      <i class="about-icon left fa "></i>
      <div class="about-title">CONCEPT</div>
      <p class="about-text">
        熱意に満ち溢れた未経験者と、<br>
        経験者、企業を繋げます。
      </p>
    </div>
    <div class="about-box">
      <i class="about-icon center fa "></i>
      <div class="about-title">HOW TO USE</div>
      <p class="about-text">
        あなたが学んだことを日記にすることで<br>
        経験者や企業から<br>
        アドバイスやスカウトが来ます。
      </p>
    </div>
    <div class="about-box">
      <i class="about-icon right fa "></i>
      <div class="about-title">SCHOOL</div>
      <p class="about-text">
        厳選されたスクールと提携しております。<br>
        あなたに合ったスクールを<br>
        見つけることができます。
      </p>
    </div>
  </div>
</section>
