@charset "UTF-8";


    /* --------------------------------
     * base
     * -------------------------------- */
    html {
      font-size: 62.5%;
      background:#ddd url(blog_backgraund.jpg) no-repeat center center;
      background-size:cover;
      background-color:		rgba(255,255,255,0.5);
    }
    body {
      color: #333;
      font-size: 1.2rem;
      font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
    }
    *, *::before, *::after {
      box-sizing: border-box;
    }
    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
    }

    /* --------------------------------
     * logo
     * -------------------------------- */
    .logo{
      width: 200px;
      height: 150px;
      background: url('escola_logo.png') no-repeat center;
      margin: auto;
      overflow: hidden;
      display: block;
    }
    .logo:hover {
      opacity: 0.5;
    }
    /* --------------------------------
     * parts
     * -------------------------------- */
    .clearfix::after {
      content: '';
      display: block;
      clear: both;
    }
    .heading {
      padding: 10px 12px;
      letter-spacing: 1px;
      font-size: 1rem;
    }
    .hidden {
      display: none;
    }
    /* --------------------------------
     * header
     * -------------------------------- */
    .header {
      width: 100%;
      padding: 10px 0 10px;
      background-color: black;
    }
    .global-nav {
      margin-top: 15px;
      text-align: center;
    }
    .global-nav .nav-item {
      display: inline-block;
      margin: 0 10px;
    }
    .global-nav .nav-item a {
      display: inline-block;
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 8px;
      color: #666;
      font-size: 1.3rem;
      letter-spacing: 1px;
      transition: 0.15s;
    }
    .global-nav .nav-item.active a,
    .global-nav .nav-item a:hover {
      background-color: #89D690;
      color: #fff;
    }

    .notice{
      text-align: center;
    }

    /* --------------------------------
     * wrapper
     * -------------------------------- */
    .wrapper {
      width: 1200px;
      margin: 30px auto 40px;
    }
    .official-wrapper {
      width: 1200px;
      margin: 30px auto 40px;
    }

    /* --------------------------------
     * main
     * -------------------------------- */
    .main {
      display: block;
      float: left;
      width: 820px;
    }
    .official-main {
      display: block;
      width: 820px;
      margin: auto;
    }
    .hot-topic {
      display: block;
      height: 300px;
      margin-bottom: 30px;
      transition: opacity 0.15s;
    }
    .hot-topic:hover {
      opacity: 0.85;
    }
    .hot-topic .image {
      float: left;
      width: 50%;
      height: 100%;
    }
    .hot-topic .content {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      padding: 105px 25px 0;
      background-color: #2d3d54;
      line-height: 1.6;
    }
    .hot-topic .title {
      margin-bottom: 15px;
      color: #fff;
      font-weight: normal;
      font-size: 2.0rem;
    }
    .hot-topic .desc {
      color: #ddc;
    }
    .hot-topic .date {
      position: absolute;
      top: 60px;
      left: 0;
      width: 140px;
      padding: 4px;
      background-color: #fff;
      color: #2d3d54;
      text-align: center;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 1.1rem;
      line-height: 1;
    }
    .scroll-list {
      max-height: 220px;
      overflow-y: auto;
      margin-bottom: 30px;
      list-style-type: none;
    }
    .scroll-list .scroll-item a {
      display: block;
      padding: 10px 15px;
      color: #333;
      font-size: 0;
      transition: background-color 0.1s;
    }
    .scroll-list .scroll-item:nth-of-type(even) a {
      background: url('../images/bg-slash.gif');
    }
    .scroll-list .scroll-item a:hover {
      background-color: #fafaf8;
    }
    .scroll-list .date {
      display: inline-block;
      width: 19%;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 1.0rem;
    }
    .scroll-list .category {
      display: inline-block;
      width: 8%;
      border-radius: 5px;
      background-color: #d03c56;
      color: #fff;
      text-align: center;
      letter-spacing: 1px;
      font-size: 1.0rem;
      line-height: 16px;
    }
    .scroll-list .category.news {
      background-color: #2c3c53;
    }
    .scroll-list .title {
      display: inline-block;
      width: 73%;
      padding-left: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.2rem;
    }
    .article-box {

    }

    .article-box {
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #FFF;
        background: #FFF;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        position: relative;
        display: block;
        width: 380px;
        height: 360px;
        padding: 210px 15px 0;
        transition: opacity 0.15s;
    }
    .article-box p {
        margin: 0;
        padding: 0;
    }
    .article-box:hover {
      opacity: 0.8;
    }
    .article-box:nth-of-type(odd) {
      float: left;
    }
    .article-box:nth-of-type(even) {
      float: right;
    }
    .article-box .title {
      margin-top: 30px;
      color: #555;
      font-size: 1.4rem;
      line-height: 1.6;
    }
    .article-box .desc {
      margin-top: 5px;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .article-box .date {
      position: absolute;
      right: 0;
      bottom: 15px;
      display: block;
      width: 160px;
      padding: 4px;
      background-color: #FFF;
      color: #2d3d54;
      text-align: center;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 1.1rem;
    }
    .article-box .image {
      position: absolute;
      top: 20px;
      left: 35px;
      box-shadow: inset 0 0 20px 10px #97A69A;
    }
    /* --------------------------------
     * user_page
     * -------------------------------- */

     .user img{
       object-fit: cover;
       width: 200px;
       height: 200px;
       border-radius: 50%;
     }

@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);

a {
  text-decoration: none;
  color: #3498db;
}
.content-profile-page {
  margin: 1em auto;
  width: 970px;
}

.card {
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: .1em solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.profile-user-page .img-user-profile {
	margin: 0 auto;
  text-align: center;
}
.profile-user-page .img-user-profile .profile-bgHome {
	border-bottom: .2em solid #f5f5f5;
  width: 44.23em;
  height: 16em;
  }
.profile-user-page .img-user-profile .avatar {
	margin: 0 auto;
  background: #fff;
  width: 7em;
  height: 7em;
  padding: 0.25em;
  border-radius: .4em;
  margin-top: -10em;
  box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}
.profile-user-page button {
	position: absolute;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 7em;
  background: #3498db;
  border: 1px solid #2487c9;
  color: #fff;
  outline: none;
  border-radius: 0 .6em .6em 0;
  padding: .80em;
}

.profile-user-page button:hover {
  background: #51a7e0;
  transition: background .2s ease-in-out;
  border: 1px solid #2487c9;
}
.profile-user-page .user-profile-data, .profile-user-page .description-profile {
  text-align: center;
  padding: 0 1.5em;
  white-space: pre ;
}
.profile-user-page .user-profile-data h1 {
  font-family: "Lato", sans-serif;
  margin-top: 0.35em;
  color: #fff;
  margin-bottom: 0;
}
.profile-user-page .user-profile-data p {
	font-family: "Lato", sans-serif;
  color: #8899a6;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.profile-user-page .description-profile {
  color: #75787b;
  font-size: 0.98em;
  padding-bottom: 2px;
}
.profile-user-page .data-user {
	font-family: "Quicksand", sans-serif;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0;
  list-style: none;
  display: table;
  width: 100.15%;
}
.profile-user-page .data-user li {
  margin: 0;
  padding: 0;
  width: 25%;
  display: table-cell;
  text-align: center;
  border-left: 0.1em solid transparent;
}
.profile-user-page .data-user li:first-child {
  border-left: 0;
}
.profile-user-page .data-user li:first-child a {
  border-bottom-left-radius: 0.3rem;
  }
.profile-user-page .data-user li:last-child a {
  border-bottom-right-radius: 0.3rem;
}
.profile-user-page .data-user li a, .profile-user-page .data-user li strong {
  display: block;
}
.profile-user-page .data-user li a {
  background-color: #f7f7f7;
  border-top: 1px solid rgba(242,242,242,0.5);
  border-bottom: .2em solid #f7f7f7;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 1px rgba(255,255,255,0.4);
  padding: .93em 0;
  color: #46494c;
}
.profile-user-page .data-user li a strong, .profile-user-page .data-user li a span {
  font-weight: 600;
  line-height: 1;
}
.profile-user-page .data-user li a strong {
  font-size: 2em;
}
.profile-user-page .data-user li a span {
  color: #717a7e;
}
.profile-user-page .data-user li a:hover {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: .2em solid #3498db;
  color: #3498db;
}
.profile-user-page .data-user li a:hover span {
  color: #3498db;
}

    /* --------------------------------
     * sidemenu
     * -------------------------------- */
    .sidemenu {
      float: right;
      width: 300px;
    }
    .ranking {
      margin-bottom: 30px;
      list-style-type: none;
      counter-reset: ranking;
    }
    .ranking .ranking-item {
      margin-top: 15px;
      background-color: #97A69A;
      border-radius: 10px 20px;
    }
    .ranking .ranking-item a {
      display: block;
      font-size: 0;
      transition: opacity 0.15s;
    }
    .ranking .ranking-item a:hover {
      opacity: 0.8;
    }
    .ranking .image {
      width: 55px;
      height: 55px;
      margin-right: 20px;
    }
    .ranking .ranking-item {
      position: relative;
    }
    .ranking .text {
      display: inline-block;
      width: 250px;
      color: #000;
      vertical-align: top;
      font-size: 1.2rem;
      line-height: 1.5;
    }
    .documents {
      margin: 10px 10px 30px;
    }
    .documents,
    .documents ul {
      list-style-type: none;
    }
    .documents > li .title {
      margin: 15px 0;
      padding-left: 8px;
      border-left: 5px solid #d03c56;
      font-size: 1.4rem;
      line-height: 1.2;
    }
    .documents > li + li {
      margin-top: 25px;
    }
    .documents > li ul {
      margin: 15px;
    }
    .documents > li ul > li {
      margin-bottom: 15px;
      padding-left: 10px;
    }
    .documents a:hover {
      text-decoration: underline;
    }

    /* clearfixを使用 */
    .search-box {
      margin-top :10px;
      padding: 15px;
      background-color: #ccc;
      font-size: 0;
    }
    .search-box > * {
      font-size: 1.2rem;
    }
    .search-box .search-input {
      width: 205px;
      height: 26px;
      padding: 0 10px;
      border: none;
      float:right;
    }
    .search-box .search-button {
      width: 40px;
      height: 26px;
      border: none;
      background-color: #0C8F49;
      color: #fff;
      cursor: pointer;
      float:right;
    }
    .search-box .text {
      margin-top: 12px;
    }

/* --------------------------------
 * login_title
 * -------------------------------- */
      .layerTransparent{
        background:#ddd url(login_backgraund.jpg) no-repeat center;
        background-size:cover;
        background-color:		rgba(255,255,255,0.5);
      }

      #form-main{
      	margin: auto;
        padding: 100px 100px 100px 100px;
        width: 50%;
      }

      #form-div {
      	background-color:rgba(72,72,72,0.4);
      	padding-left:35px;
      	padding-right:35px;
      	padding-top:35px;
      	padding-bottom:50px;
      	width: 450px;
      	float: left;
      	left: 50%;
      	position: absolute;
        margin-top:30px;
      	margin-left: -260px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
      }

      .feedback-input {
      	color:#3c3c3c;
      	font-family: Helvetica, Arial, sans-serif;
        font-weight:500;
      	font-size: 18px;
      	border-radius: 0;
      	line-height: 22px;
      	background-color: #fbfbfb;
      	padding: 13px 13px 13px 54px;
      	margin-bottom: 10px;
      	width:100%;
      	-webkit-box-sizing: border-box;
      	-moz-box-sizing: border-box;
      	-ms-box-sizing: border-box;
      	box-sizing: border-box;
        border: 3px solid rgba(0,0,0,0);
      }

      .feedback-input:focus{
      	background: #fff;
      	box-shadow: 0;
      	border: 3px solid #3FAF73;
      	color: #3FAF73;
      	outline: none;
        padding: 13px 13px 13px 54px;
      }

      .focused{
      	color:#B8FBD7;
      	border:#B8FBD7 solid 3px;
      }

      /* Icons ---------------------------------- */
      #password{
      	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
      	background-size: 30px 30px;
      	background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      #password:focus{
      	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
      	background-size: 30px 30px;
      	background-position: 8px 5px;
        background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      #email{
      	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
      	background-size: 30px 30px;
      	background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      #email:focus{
      	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
      	background-size: 30px 30px;
        background-position: 11px 8px;
      	background-repeat: no-repeat;
      }

      textarea {
          width: 100%;
          height: 150px;
          line-height: 150%;
          resize:vertical;
      }

      input:hover, textarea:hover,
      input:focus, textarea:focus {
      	background-color:white;
      }

      #button-green{
      	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      	float:left;
      	width: 100%;
      	border: #fbfbfb solid 4px;
      	cursor:pointer;
      	background-color: #3FAF73;
      	color:white;
      	font-size:24px;
      	padding-top:22px;
      	padding-bottom:22px;
      	-webkit-transition: all 0.3s;
      	-moz-transition: all 0.3s;
      	transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
      }

      #button-green:hover{
      	background-color: rgba(0,0,0,0);
      	color: #3FAF73;
      }

      .submit:hover {
      	color: #3FAF73;
      }

      .ease {
      	width: 0px;
      	height: 74px;
      	background-color: #fbfbfb;
      	-webkit-transition: .3s ease;
      	-moz-transition: .3s ease;
      	-o-transition: .3s ease;
      	-ms-transition: .3s ease;
      	transition: .3s ease;
      }

      .submit:hover .ease{
        width:100%;
        background-color:white;
      }

      @media only screen and (max-width: 580px) {
      	#form-div{
      		left: 3%;
      		margin-right: 3%;
      		width: 88%;
      		margin-left: 0;
      		padding-left: 3%;
      		padding-right: 3%;
      	}
      }

/* --------------------------------
 * toppage-abouts
 * -------------------------------- */
.abouts-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.about-box {
  float: left;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  background-color: white;
  margin: 10px;
  opacity: 0.7;
}
.about-icon {
  width: 150px;
  height: 150px;
  margin: 10px 0px 0px 100px;
  font-size: 8rem;
  line-height: 142px;

  &.right{
    background: url('school.png') no-repeat center;
  }
  &.center{
    background: url('book.png') no-repeat center;
  }
  &.left{
    background: url('connection.png') no-repeat center;
  }
}
.about-title {
  text-align: center;
  margin: 0 20px 20px;
  font-size: 2rem;
}
.about-text {
  text-align: center;
  line-height: 2;
}
.top {
  padding: 80px 0 150px;
}
.heading {
  text-align: center;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 2rem;
  color: white;
}

/* --------------------------------
 * blog-new,edit page
 * -------------------------------- */
.blog_post {
  ul{
    display: table;
    wight: 100px;
    margin: auto;
  }

  li{
    padding-top: 20px;
    list-style:none;
  }

  &.title{
    width: 600px;
    opacity: 0.7;
  }

  &.content{
	  text-align: left;
    width: 600px;
    height: 500px;
    opacity: 0.7;
  }

  &.content2{
    width: 600px;
    height: 200px;
    opacity: 0.7;
  }

}
/* --------------------------------
 * button
 * -------------------------------- */
 .btnn{
     margin: 10px 10px 20px 250px;
     text-decoration: none;
     background: #3FAF73;
     color: #FFF;
     width: 100px;
     height: 100px;
     line-height: 90px;
     border-radius: 50%;
     text-align: center;
     vertical-align: middle;
     overflow: hidden;
     box-shadow: 0px 0px 0px 5px #3FAF73;
     border: dashed 1px #FFF;
     transition: .4s;
 }

 .btnn:hover{
     background: #B8FBD7;
     box-shadow: 0px 0px 0px 5px #B8FBD7;
 }

/* --------------------------------
 * comments area
 * -------------------------------- */
.comment_box{
  width: 300px;
  height: 100px;
}
.balloon {
  width: 100%;
  margin: 20px 0;
  overflow: hidden;
}
.balloon .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}
.balloon .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 1200px;
  border-radius: 12px;
  background: #edf1ee;
}

.says a:hover {
color:#FF0099;
text-decoration:underline;
}
.says a:active {
color:#33CC00;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
      white-space: pre;
}

.comment {
  margin-left: 630px;
  margin-top:20px;
}

/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  width: 100%;
  padding: 20px 0 30px;
  background: #2DA05D;
  color: #fff;
}
.horizontal-list {
  width: 970px;
  margin: 0 auto;
  text-align: right;
  font-size: 0;
}
.horizontal-list .horizontal-item {
  display: inline-block;
  padding: 0 15px;
  letter-spacing: 1px;
}
.horizontal-list .horizontal-item + .horizontal-item {
  border-left: 1px solid #bbb;
}
.horizontal-list .horizontal-item a {
  border-bottom: 1px dashed #777;
  color: #bbb;
  font-size: 1.1rem;
  transition: color 0.15s;
}
.horizontal-list .horizontal-item a:hover {
  color: #ddd;
}
.copyright {
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;
}

/* --------------------------------
 * blogs
 * -------------------------------- */

div.PhotoBox {
   float: left;              /* A1 */
   position: relative;       /* A2 */
   overflow: hidden;         /* A3 */
   margin: 0px 4em 4em 0px;/* A4:隣接画像との余白量 */
   width: 300px;            /* A5:画像の横幅 */
   height: 280px;           /* A6:画像の高さ */
}

div.PhotoBox div.SlideBox {
   position: absolute;       /* B1 */
   left: 0px;                /* B2 */
   top: 200px;              /* B3:画像の高さに合わせる */
   width: 300px;            /* B4:画像の横幅に合わせる */
   height: 280px;            /* B5:スライドして重ねる領域の高さ */
   background-color: black; /* B6:スライドして重ねる領域の背景色 */
   color: white;            /* B7:スライドして重ねる領域の文字色 */
   opacity: 0.7;            /* B8:スライドして重ねる領域の透明度 */
}

div.PhotoBox div.SlideBox p.Caption {
   font-weight: bold; /* 文字の太さ */
   font-size: 90%;    /* 文字サイズ */
   margin: 0.5em;     /* 周囲の余白量 */
}

/* 詳細削除編集ボタンの位置 */
li.Caption{
   list-style:none;
   float:left;
   padding-top: 50px;
   padding-left: 5px;
}

ul.Caption2 {
   float:right;
   right: 50%;
}

li.Caption2 {
   list-style:none;
   right:-50%;
   padding-top: 0px;
}

.btn-circle {
   width: 30px;
   height: 30px;
   text-align: center;
   padding: 6px 0;
   font-size: 12px;
   line-height: 1.428571429;
   border-radius: 15px;
}

.new_post{
  margin: 40px 0 40px 250px;
}

.row{
  margin: 20px;
}


.post-form {
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  position: relative;
}
.page-title {
  margin: 0.5em 0;
  color: #555;
}
.post-section {
  margin: 0 -10px;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.post-section.editor-title {
  margin-top: -10px;
}
.post-section.post-buttons {
  border-bottom: none;
  margin-top: 10px;
  text-align: right;
}
.post-input {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  font-family: sans-serif;
  margin: 0.25em 0;
}
.post-input.large {
  font-size: 24px;
  font-weight: 600;
}
.post-media-inner {
  display: flex;
  flex-wrap: wrap;
}
.post-media-icon {
  width: 150px;
  height: 150px;
  margin: 10px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .post-media-icon {
    width: 80px;
    height: 80px;
  }
}
.add-media {
  outline: none;
  cursor: pointer;
}
.delete-media {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 24px;
  height: 24px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0;
  transition: 0.2s;
}
.post-media-icon.thumbnail:hover > .delete-media {
  opacity: 1;
  transition: 0.15s;
}

.post-form-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.post-form-backdrop.closed {
  display: none;
}
.post-form-overlay.open {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 200px;
  max-height: 80%;
  z-index: 102;
  background-color: #fff;
  padding: 10px;
  opacity: 1;
  transition: 0.2s;
}
.post-form-overlay.closed {
  display: none;
}

a .btn btn-primary{
  color: #fff;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin-left:600px;
    border-radius: 4px;
}

.media{box-shadow:0px 0px 4px -2px #000; margin: 20px 0; padding:15px;}
.media-body{padding:10px;}
.media-body a{text-decoration:none;}
.media .label{padding:5px 10px;}
.dp{border:10px solid #eee; transition: all 0.2s ease-in-out;}
.dp:hover{ border:2px solid #eee; transform:rotate(360deg); -ms-transform:rotate(360deg); -webkit-transform:rotate(360deg); -webkit-font-smoothing:antialiased;}

.nothing{
  font-size: 40px;
}
